.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #FFF8EA;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #815B5B;
}

p {
  font-size: 2rem;
  color: #815B5B;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: black;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.github{
  padding-right: 25px;
}



/* buttonn css */
.btn {
  -webkit-border-radius: 54;
  -moz-border-radius: 54;
  border-radius: 54px;
  /* text-shadow: 5px 0 #232931; */
  font-family: Courier New;
  color: ffffff;
  font-size: 31px;
  background: #FFF8EA;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  margin-left: 46% ;
  margin-top: 50px;
}

.btn:hover {
  background: #815B5B;
  text-decoration: none;
}